h1{
font-size: 30px;
text-align: center;
color: rgba(34, 12, 64, 0.6);
}

p{
font-size: 20px;
text-align: left;
font-family: Helvetica, sans-serif;
}

<a href= "https://www.allocine.fr/video/player_gen_cmedia=19561878&cserie=11266.html"> titre du lien </a>

body {
background-color: #009900aa;

}